.task__list {
  display: grid;
  grid-row-gap: 24px;
  padding-left: 30px;
}

.task__item {
  position: relative;
  grid-column-gap: 16px;
  cursor: pointer;
}

.task__item:hover .task__text {
  color: var(--color-blue700)
}

.task__item:hover .task__circle {
  border-color: rgba(45, 112, 253, 0.15);
}

.task__circle {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-gray100);
  border-radius: 50%;
}

.task__null {
  text-align: center;
  font-size: 32px;
  color: var(--color-blue900);
}

.task__text {
  font-weight: 500;
  color: var(--color-blue1000);
  transition: color 0.2s;
}

.task__close {
  position: absolute;
  top: 0;
  right: 0;
}